.body {
    font-family: 'Open Sans', sans-serif;
}

.navbar{
    background-color: #00caf5;
    color: #fff;
}

.navbar img{
    width: 44px;
}

.carousel-inner {
    height: 650px;
    background-size: cover;
}   

/*.container {
    background-color: #fff;
}
*/

/* Quiénes-somos */
#Quienes-somos i{
    color: #00caf5;
}

#Quienes-somos{
    background-color: #000;
    color: #fff;
    width: 100%;
}

.card-body {
    background-color: #00caf5;
    color: #fff;
    width: 100%;
}
/* Destacados */
#Destacados {
    background-color: #000;
    color: #fff;
    width: 100%;
}

/* Contacto */
#Contacto{
    background-color: #000;
    color: #fff;
    width: 100%;
}
